.foodImage {
  height: 75%;
  width: 75%;
}

body{
  background-color: #add8e6;
}


.home-page-alignment{
  /* background-color: orange; */
  padding: 1em;
  /* float: left; */

}

.my-button{
  /* padding: 15px 32px; */
  width: 100%;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}


.home-page-item{
    float: left;
    width:  400px;
    height: 200px;
    object-fit: cover;
    display: block;
    margin: .4em;
    margin-left: auto;
    margin-right: auto;
    border:solid black .2em;
    border-radius: 1.5em;

}


/* #testId{
  background-color:green;
} */
/* 
.test-class{
  background-color:blue;
} */